<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"># Project ID</th>
            <th scope="col">Project Title</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <th scope="row"><%= project.id %></th>
              <td><%= project.title %></td>
              <td>
              <%= link_to project, :class=>"btn btn-sm btn-primary" do %>
                <i class="fas fa-book-open"></i>
              <% end %>

              <%= link_to edit_project_path(project), :class=>"btn btn-sm btn-primary" do%>
                <i class="fas fa-pen-square"></i>
              <% end %>

              <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-sm btn-primary" do %>
                <i class="fas fa-trash"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <%= link_to new_project_path, :class=>"btn col-12 btn-primary" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
</div>